/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Golos+Text:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container_menu {
  width: 1440px;
  position: relative;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "DM Sans", sans-serif, "Golos Text", sans-serif;
  background: #191919;
}

.btn {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  background: #118DA8;
  padding: 12px 15px;
  border-radius: 8px;
}

body {
  overflow: hidden;
}

.none {
  display: none;
}

.nav {
  position: relative;
  display: flex;
  background: #191919;
}

.nav__list {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 46px 0;
  color: #fff;
}

.nav__right {
  position: relative;
  display: flex;
  gap: 40px;
  line-height: 27px;
  font-weight: 400;
  font-size: 17px;
}

.img-menu {
  height: 50px;
  width: 50px;
  margin: 0;
  position: relative;
}

.btn-menu {
  margin-right: 20px;
  display: none;
}

.overlay {
  overflow: hidden;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  background: #191919;
  z-index: 9;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.nav__mob {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob__el {
  margin-top: 20px;
}

.mob-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  list-style-type: none;
}

@media screen and (max-width: 1470px) {
  .nav__list-mob {
    height: 100%;
    width: 100%;
  }
  .btn-menu {
    display: block;
  }
  .nav__el {
    display: none;
  }
  .logo {
    margin-left: 20px;
  }
  .title {
    font-size: 60px !important;
    max-width: 300px !important;
  }
  .level {
    font-size: 65px !important;
  }
  .negr {
    transform: scale(0.8);
  }
  .hed_right {
    margin-left: 10px !important;
  }
}
@media screen and (max-width: 999px) {
  .title {
    max-width: 250px !important;
  }
}
@media screen and (max-width: 921px) {
  .negr {
    transform: scale(0.7) !important;
    left: 0 !important;
  }
  .title {
    font-size: 45px !important;
  }
  .hed_right {
    margin-left: -40px !important;
  }
}
.logo {
  font-size: 40px;
  font-weight: 900;
}

a {
  transition: all 0.2s ease-in;
  color: #fff;
}

.hed_right {
  margin-left: 60px;
}

a:hover {
  color: #118DA8;
}

.main_header {
  margin-top: 66px;
  position: relative;
}

.hed-cont {
  display: flex;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 3.2px;
  max-width: 526px;
  font-weight: 400;
}

.level {
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
}

.negr {
  width: 650px;
  height: 873px;
  background-image: url("../../img/negrN.jpg");
  position: relative;
}

.par {
  width: 68px;
  height: 74px;
  position: absolute;
  top: -28px;
  left: -28px;
}

.pod_desc {
  margin-top: 90px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 17px;
  margin-top: 16px;
}

.episodes {
  margin-top: 93px;
  position: relative;
  color: #fff;
}

.ep_titlebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ep-title {
  font-size: 64px;
  line-height: 79.2px;
  font-weight: 400;
  letter-spacing: 2.88px;
}

.ep-tit-btn {
  max-height: 51px;
  max-width: 178px;
  margin: 0;
  bottom: 0;
}

.episds {
  position: relative;
  margin-top: 66px;
}

.nav__mob {
  list-style-type: none;
}

.nav__el {
  list-style: none;
}

.episod {
  background: #000;
  height: 545px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1470px) {
  .episod {
    padding: 0;
  }
  .episod-title {
    font-size: 45px !important;
  }
  .ep-up-btn {
    font-size: 16px !important;
  }
  .ep-num {
    font-size: 15px !important;
  }
  .ep-desc {
    font-size: 20px !important;
  }
  .ep-left {
    transform: scale(0.9);
    margin: 0;
    padding: 0;
  }
  .ep-right-side {
    justify-content: flex-start;
    top: 0;
    right: 0;
  }
}
.ep-left {
  margin: 40px;
  height: 465px;
  position: relative;
}

.ep-up-btn {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  border-radius: 6px;
  background: #191919;
  left: 0;
  float: left;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.ep-btn {
  transition: all 0.2s ease-in;
  bottom: 0;
}

.ep-btn:hover {
  background: #025b6f;
}

.ep-right-side {
  margin-top: 48px;
  left: 0;
  position: relative;
}

.ep-num {
  color: #118DA8;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  left: 0;
  margin-top: 48px;
}

.episod-title {
  margin-top: 18px;
  font-size: 64px;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 2.56px;
  display: flex;
  max-width: 701px;
}

.ep-desc {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  display: flex;
  max-width: 757px;
}

.episod-sec {
  margin-top: 60px;
}

.person {
  margin-top: 260px;
  position: relative;
  color: #fff;
}

.arr-img {
  background: #118DA8;
  padding-left: 17px;
  padding-right: 24px;
  padding-top: 34px;
  padding-bottom: 40px;
  border-radius: 50%;
}

.sub-arr {
  color: #118DA8;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 20px;
}

.person-title {
  font-size: 65px;
  line-height: 79.2px;
  letter-spacing: 2.88px;
}

.person_desc {
  max-width: 556px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
  line-height: 33px;
  margin-top: 28px;
}

.person-box {
  display: flex;
  position: relative;
  align-items: center;
}

.person-right {
  right: 0;
  position: absolute;
}

.contact {
  margin-top: 201px;
  position: relative;
  color: #fff;
}

.cont-box {
  background: #000;
  border-radius: 32px;
  padding: 60px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.cont-sub-tit {
  color: #118DA8;
  font-size: 18px;
  line-height: 27px;
}

.cont-title {
  max-width: 431px;
  font-size: 72px;
  line-height: 79.2px;
  letter-spacing: 2.88px;
}

.cont-right {
  display: flex;
  flex-direction: column;
  position: relative;
}

.name-btn {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  background: #191919;
  padding-left: 19px;
  padding-top: 27px;
  padding-bottom: 26px;
  min-width: 500px;
  margin-top: 20px;
  max-height: 82px;
}

.sub-btn {
  max-width: 87px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 700;
  line-height: 28.8px;
  transition: all 0.2s ease-in;
}

.sub-btn:hover {
  background: #014a5a;
}

.partic {
  position: absolute;
  bottom: -20px;
  left: -20px;
  transform: rotate(-100deg);
}

.comments {
  margin-top: 200px;
}

.comments-list {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.comment {
  background: #000;
  padding: 54px 50px;
  border-radius: 32px;
  color: #fff;
  max-width: 423px;
}

.comm-text {
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 400;
  margin-top: 21px;
}

.comm-author {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 400;
  margin-top: 19px;
}

.footer {
  margin-top: 200px;
  color: #fff;
}

.footer-cont {
  display: flex;
  flex-direction: row;
}

.foot-el {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  font-size: 17px;
  line-height: 27px;
}

.foot-el > li {
  display: block;
  margin-bottom: 5px;
}

.foot-soc {
  margin-top: 23px;
}

.soc-fot {
  margin-left: 10px;
}

.footer-wrap {
  min-width: 1100px;
  position: relative;
}

.foot-lg {
  width: 447px;
  position: relative;
}

.el-sec {
  position: relative;
  width: 85px;
}

.el-third {
  position: relative;
  width: 178px;
}

.foot-socials {
  display: flex;
  gap: 17px;
}/*# sourceMappingURL=main.css.map */