.contact{
    margin-top: 201px;
    position: relative;
    color: #fff;
}

.cont-box{
    background: #000;
    border-radius: 32px;
    padding: 60px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.cont-sub-tit{
    color: $blu;
    font-size: 18px;
    line-height: 27px;
}

.cont-title{
    max-width: 431px;
    font-size: 72px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
}

.cont-right{
    display: flex;
    flex-direction: column;
    position: relative;
}

.name-btn{
    color: rgba(255,255,255,0.70);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    background: $bg;
    padding-left: 19px;
    padding-top: 27px;
    padding-bottom: 26px;
    min-width: 500px;
    margin-top: 20px;
    max-height: 82px;
}

.sub-btn{
    max-width: 87px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 28.8px;
    transition: all 0.2s ease-in;
}

.sub-btn:hover{
    background: #014a5a;
}

.partic{
    position: absolute;
    bottom: -20px;
    left: -20px;
    transform: rotate(-100deg);

}