.container_menu{
  width: 1440px;
  position: relative;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.container{
  width: 1300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

body{
  font-family: $font;
  background: $bg;
}

.btn{
  color: #fff;
  font-size: 17px ;
  font-weight: 400 ;
  line-height: 27px ;
  background: $blu;
  padding: 12px 15px ;
  border-radius: 8px ;
}

body{
  overflow: hidden;
}

.none{
  display: none;
}

@mixin Tablet{
  @media screen and (max-width:1470px){
    @content
  }
}

@mixin Phone{
  @media screen and (max-width:999px){
    @content
  }
}

@mixin Laptop{
  @media screen and (max-width:1320px){
    @content
  }
}