@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Golos+Text:wght@400;500;600;700&display=swap');


$font: 'DM Sans', sans-serif,'Golos Text', sans-serif;

$blu:#118DA8;
$bg:#191919;

